# ===================== API APP ================== #
PORT_API_GATEWAY=3000
NODE_ENV=development
# NODE_ENV=prod
# API Gateway Service URLs
EXPRESS_SERVICE_URL=http://cocinando_express:3001
NEST_SERVICE_URL=http://cocinando_nest:3002
ALLOWED_ORIGINS=http://localhost:3001,http://localhost:3002